[submodule "TF47Modules/TF47ServicePoint"]
	path = TF47Modules/TF47ServicePoint
	url = git@github.com:TheNiner/TF47ServicePoint.git
[submodule "TF47Modules/TF47UMenu"]
	path = TF47Modules/TF47UMenu
	url = git@github.com:TheNiner/TF47UMenu.git
